@import url(https://fonts.googleapis.com/css?family=Roboto:300);

select {
    margin: 10px;
}

label {
    margin: 0 0 0 10px;
    border: 0;
    padding: 0;
}

#user-indicator {
    float: right;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
    padding-top: 6px;
}

#data {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    margin: 100px;
    padding-top: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container .table tr {
    color: #4d4d4d;
}

/* Style the tab content (and add height:100% for full page content) */
.content {
    padding: 100px 20px;
    height: 100%;
}

#submit-button, #exit-button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    float: right;
    margin: 10px 10px 0px 0px;
}
#submit-button:hover,#exit-button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    font-family: "Roboto", sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

header h1 {
    float:right;
    margin-top: -70px;
}

header h5 {
    float:left;
    margin-top: -50px;
}